    <aside>
        <img src="{% static 'main/img/football.svg' %}" alt="Football Logo">
        <span class="logo">Football News</span>
        <h3>Menu</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fa-solid fa-house"></i>Main Page</li></a>
            <a href="{% url 'about' %}"><li><i class="fa-solid fa-address-card"></i>About Us</li></a>
            <a href="{% url 'news_home' %}"><li><i class="fa-solid fa-newspaper"></i></i>News</li></a>
            <a href="{% url 'contact' %}"><li><i class="fa-solid fa-address-book"></i>Contacts</li></a>
            <a href="{% url 'create' %}"><li><button class="btn btn-info"><i class="fa-solid fa-plus"></i>Add Article</button></li></a>
        </ul>
    </aside>

            <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis in provident non exercitationem illo perferendis reiciendis, iusto, ipsum sit eveniet nam reprehenderit voluptate quod possimus velit, sequi blanditiis. Nostrum, soluta?</p>
        <button class="btn btn-warning">To About Us Page</button>