{% load static right_side_menu social_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'main/img/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

</head>


<body>
    <header id="header" class="header">
            <div class="nav">
                <ul class="menu">
                    <li><a href="{% url 'home' %}">Main Page</a></li>
                    <li><a href="{% url 'about' %}"><li>About Us</a></li>
                    <li><a href="{% url 'news_home' %}"><li>News</a></li>
                    <li><a href="{% url 'contact' %}"><li>Get in touch</a></li>
                </ul>
                <ul class="sign-in">
                    {% if request.user.is_authenticated %}
                    <li>{{ user.username.upper }}</li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Registration</a></li>
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
    </header>

    {% block index %}{% endblock %}

    {% block about %}{% endblock %}

    {% block content %}{% endblock %}



    <footer id="footer" class="footer">
        <div class="container">
            <div class="footer-wrap">
                <div class="footer-links">
                    {% get_social_links as social_links %}
                    <ul class="soc-links">
                    {% for item in social_links %}
                        <li><a href="{{ item.link }}" target="_blank"><img src="{{ item.icon.url }}" alt="" width="30"></a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="footer-text">
                    <p>© 2023 The Football News Company. All rights reserved.</p>
                </div>
            </div>
        </div>

    </footer>


    
</body>
</html>
