{% extends 'main/layout.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="features">
        <h1>Latest News</h1>

        {% if news %}
            {% for new in  news %}
                <div class="alert alert-warning">
                    <h3>{{ new.title }}</h3>
                    <h3>{{ new.preview }}</h3>
                </div>
            {% endfor %}
        {% else %}
            <p>No recent news available at this time...</p>
        {% endif %}

{% endblock %}