{% extends 'main/base.html' %}

{% block title %}Latest News{% endblock %}

{% block content %}

    <div class="features">
        <h3>Latest News</h3>

        {% if posts %}
            {% for post in posts %}
                <div>
                    <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</h5></a>
                    <h6>{{ post.category }}</h6>
                    <h6>{{ post.text|slice:":100" }}</h6><br>
                    
                </div>
            {% endfor %}
        {% else %}
            <p>No recent news available at this time...</p>
        {% endif %}
    </div>

{% endblock %}