{% extends 'main/base.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="features">

        {% if posts %}
            <span>{{ posts.first.category.name }}</span><br><br>

            {% for post in posts %}
                <div>
                    <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                    <h6>{{ post.text|slice:":100" }}</h6>
                </div>
            {% endfor %}
        {% else %}
            <p>No recent news available at this time...</p>
        {% endif %}
    </div>

{% endblock %}