{% extends 'main/layout.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="features">
        <h1>Latest News</h1>

        {% if posts %}
            {% for post in  posts %}
                <div class="alert alert-warning">
                    <h1>{{ post.title }}</h1>
                    <h3>{{ post.author }}</h3>
                    <h3>{{ post.create_at }}</h3>
                    <a href="{% url 'news-detail' post.id %}" class="btn btn-warning">Read More</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No recent news available at this time...</p>
        {% endif %}
    </div>

{% endblock %}