{% extends 'main/base.html' %}
{% load social_tags %}

{% block title %}About Us{% endblock %}

{% block about %}

<section id="about" class="about">
    <div class="container">
        <h2>About us</h2>
        <div class="description">
            <div class="disc-left">
                <h3>Seeking the truth</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quae libero incidunt beatae vero pariatur cum quo error sapiente porro, nesciunt, quasi doloremque minima temporibus hic ex? Consequatur, soluta illum.</p>
            </div>
            <div class="disc-right">
                <h3>Helping people to understand the football world</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quae libero incidunt beatae vero pariatur cum quo error sapiente porro, nesciunt, quasi doloremque minima temporibus hic ex? Consequatur, soluta illum.</p>
            </div>
        </div>
        <div class="gallery">
            {% for item in about.get_images %}
                <img src="{{ item.image.url }}" alt="{{ item.alt }}" width="200" height="350">
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}