{% extends 'main/base.html' %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <div class="container">
        <h3>You may reach us at:</h3>
        <div class="contact-way">
            <ul>
                {% for contact in contacts %}
                <li>
                    <a href="{{ contact.name }}" class="contact-links" target="_blank"><img class="contact_icon" src="{{ contact.icon.url }}" alt="" width="20" height="20"></a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <h3>You can also send us a message throught the form below:</h3>
        <form action="{% url 'feedback' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Add</button>
            <button type="reset">Reset</button>
        </form>
    </div>
{% endblock %}