body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	/*позиционирование по центру*/
	max-width: 1366px;
	margin: 0px auto; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	background: url("../img/rrt1.jpg") no-repeat center top / cover;
	color: #fff;
	min-height: 10vh;
}

header a {
	color: #fff;
}

.nav {
	display: flex;
	align-items: center;
	height: 10vh;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;

}

.menu {
	display: flex;
	justify-content: space-between;
  	align-items: center;
	width: 50%;
	height: 100%;
}

.sign-in {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 100%;
}

.menu li a {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.1em;
	margin: 0 10px;
}

.sign-in > li {
	margin: 0 5%;
	font-size: 20px;
	letter-spacing: 0.1em;
}

.sign-in li a {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 0.1em;
	margin: 0 10px;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.index-wrapper {
	display: flex;
	width: 100%;
	height: 75vh;
}

.offer {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	justify-content: flex-start;
	padding-top: 3%;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
	display: block;
	margin-bottom: 1% 0;
}

.offer h1 {
	font-size: 100px;
	letter-spacing: 0.02em;
	display: block;
	
}

.offer a {
	display: block;
	text-transform: uppercase;
	margin: 50px 0;
	color: black;
	font-size: 20px;
	width: 20%;
	letter-spacing: 0.11em;
}

.offer a:hover {
	border-bottom: 1px solid black;
}

.btn {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #fff;
    color: #000;
}

/* ABOUT */
.about-wrapper {
	display: flex;
	flex-direction: column;
	width: 70%;	
}

.about-wrapper h2 {
	text-align: center;
	padding: 5% 0;
	margin: 0;
}

.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.67em;
}

.description h3 {
	font-size: 20px;
	letter-spacing: 0.05rem;
}

.disc-left {
	display: flex;
	width: 50%;
	flex-direction: column;
	padding-right: 2%;
}

.disc-right {
	display: flex;
	flex-direction: column;
	padding-left: 2%;
	width: 50%;
}

.gallery {
	margin: 3% 0 7% 0;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

/* DETAIL VIEW */
.detail-wrapper {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.new-detail {
	display: flex;
	flex-direction: column;
	margin-bottom: 3%;
}

.new-detail h3 {
	margin: 3% 0;
	text-align: center;
	letter-spacing: 0.1rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.new-detail img {
	margin-bottom: 3%;
}

.new-detail h5 {
	margin-bottom: 3%;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 21px;
}

.new-detail p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	text-align: justify;
}

.detail-tags {
	margin-bottom: 5%;
}

.detail-tags a {
	color: #000;
	text-decoration: none;
	margin-right: 1%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.comments-all {
	display: flex;
	flex-direction: column;
	margin-bottom: 4%;
}

.comments-all p {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
}

.comment-count {
	margin-bottom: 3%;
}

.comments {
	border-top: 0.2rem solid black;
	border-left: 0.2rem solid black;
	border-right: 0.2rem solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 1%;
}

.comments img {
	width: 8%;
}

.auth-name {
	width: 14%;
	padding-left: 3%;

}

.com-create {
	width: 78%;
	text-align: end;
}

.com-message {
	margin-bottom: 3%;
	/* padding-bottom: 1%; */
	border-bottom: 0.2rem solid black;
	border-left: 0.2rem solid black;
	border-right: 0.2rem solid black;
	padding-left: 1%;
}

.add-comment {
	margin-bottom: 10%;
}

.form-name input {

	width: 33%;
	height: 40px;
	margin-bottom: 3%;
	border: 0.2rem solid black;
	border-radius: 30px;
	padding-left: 10px;

}

.form-message input {
	width: 100%;
	height: 50px;
	padding-left: 10px;
	margin-bottom: 3%;
	border: 0.2rem solid black;
	border-radius: 30px;
}

.sub-but {
	margin-right: 20px;
    background-color: greenyellow;
    color: black;
    border:none;
	border: 0.2rem solid black;
	border-radius: 30px;
	width: 100px;
	height: 40px
}

.res-but {
	margin-right: 20px;
    background-color: red;
    color: black;
    border:none;
	border: 0.2rem solid black;
	border-radius: 30px;
	width: 100px;
	height: 40px
}


/* FOOTER */
.footer {
	background-color: black;
}

.footer-wrap {
	display: flex;
	align-items: center;
	height:15vh;
	width: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	box-sizing: border-box;
	background-color: black;
}

.footer-links {
	display: flex;
	width: 30%;
	height: 40%;
	justify-content: center;
	align-items: center;
	/* font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	padding: 60px 0; */
}

.footer-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25%;
	width: 40%;
	
	/* font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	padding: 114px 0; */
}

.soc-links {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 70%;
}

.soc-links li {
	display: flex;
	margin: 0 5%;
	justify-content: center;
	align-items: center;
}

.footer-text p {
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.05em;
	padding: 1%;
	color: white;
}

/* .footer-links a {
	display: inline-block;
	margin-right: 67px;
	align-items: center;
	margin: auto;
} */

.new-title {
	margin-top: 4%;
}

.new-title a {
	text-transform: uppercase;
	font-size: 25px;
	color: #000;
}

.new-title a:hover {
	border-bottom: 1px solid black;
}

.new-category a {
	font-size: 15px;
	color: #000;
}

.new-category a:hover {
	border-bottom: 1px solid black;
}

.step-links a {
	text-transform: uppercase;
	color: #000;
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.step-links a:hover {
	border-bottom: 1px solid black;
}

.contact-way ul {
	display: flex;
  	justify-content: space-between;
	margin-bottom: 3%;
}

/* <li><img src="{% static 'main/img/football.svg' %}" alt="Football Ball" class="logo" height="50"></li> */
